/* Things I changed:
- Added Bootstrap
- Added a new navigation bar using a template (https://startbootstrap.com/template/bare)
- Changed the footer styles a bit to match with the updated CSS + the color scheme */

/* Background and article styles */
body {
	background: url("paper.gif") repeat;
	margin: 0;
	font-family:  "Verdana", "Arial", sans-serif, "Times New Roman";
	/* Need this because CSS is weird and it won't render block spacing properly otherwise */
	font-size: 0px;
}

article {
	padding-left: 10px;
	padding-right: 10px;}

/* Font styles */
h1.navbar-brand {
	color: white;
	font-size: 36px;
	font-weight: bold;
	text-shadow: -3px -3px 10px white;
	text-transform: capitalize;
	text-decoration: underline;
	line-height: 150%;
}

h2 {
	font-size: 32px;
}

p {
	font-size:  16px;
}

a {
	font-size: 16px;
	color: #ff70fd;
}

li {
	font-size: 16px;
}

a:visited {
	color: #bf71be;
}

/* Footer styles */

footer {
	/* need this to position the cat image */
	position: relative;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

footer p {
	margin-block-start: 0;
	margin-block-end: 0;
}

#peek {
	width: 150px;
	position: absolute;
	bottom: 0;
	right: 0;
}

/* Homepage styles and layout */
#alejandro {
	width: 300px;
}

#homepage aside, #homepage-main {
	display: inline-block;
	width: 50%;
}

#homepage aside {
	text-align: center;
}

/* Navigation box for the homepage */
#main-nav {
	text-align: center;
	border-style: dashed;
	font-family: "Arial", sans-serif, "Times New Roman";
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
}

#main-nav ol {
	display: inline-block;
	margin: 0 0 20px 0;
	padding: 0;
}

#main-nav li {
	text-indent: 15px;
}

#week1 a { color: red; }
#week2 a { color: orange; }
#week3 a { color: #c2c200; }
#week4 a { color: green; }
#week5 a { color: darkcyan; }
#week6 a { color: blue; }
#week7 a { color: purple; }

/* Styles for album and behind-the-scenes sections */
.album-item {
	text-align: center;
}

.album-behind-the-scenes {
	text-align: center;
	font-style: italic;
}

.album-behind-the-scenes img:not(.vertical), .album-item img:not(.vertical) {
	width: 500px;
}

.vertical {
	height: 500px;
}

/* Table styles */
table {
	border-collapse: collapse;
	border-style: dashed;
	border-width: medium;
	border-color: black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

td, th {
	padding: 5px;
	font-weight: bold;
	font-size: 16px;
}

th {
	text-decoration: underline;
}

.table-grey {
	background-color: grey;
}

/* Table styles (day) */
.day {
	background-color: skyblue;
}

th em {
	font-style: normal;
}

.day em, .day a {
	color: yellow;
}

.day em {
	text-shadow: -2px 0px 3px #c2c200;
}

.day a:visited {
	color: #dbdb00;
}

/* Table styles (night) */

.night {
	background-color: midnightblue;
	color: white;
}

.night em, .night a {
	color: lightgrey;
}

.night em {
	text-shadow: -2px 0px 3px grey;
}

.night a:visited {
	color: grey;
}